#Accueil{
    background-image: url("./Img/fond.jpg") ;
    background-size: 100% 100%;
    min-height: 100vh;
}

body{
    margin: 0;
}
#Projet{
    padding: 100px ;
    background-color: black;
    color: white;
    text-align: center;
}


#Navbar{
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns : 55% 15% 15% 15%;
}

#BtnProjet{
    width: 40%;
    margin: 0 auto;
    display: grid;
    grid-template-columns : 1fr 1fr;
    margin-bottom: 50px;
}

button{
    display: block;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: #001dd1 ;
    color: white;
    margin: 5px;
}


.Item-Nav{
    width: 100%;
    font-size:250%;
    color: white;
    text-decoration: none;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

#Navbar > a{
    text-align: center;
}

#IMGJeux{
    margin: 0 auto;
    width: 100%;
}

.PresJeux{
    display: grid;
    grid-template-columns : 50% 50%;
}



.Titre{
    padding: 60px;
    margin: 0 auto;
    width: 50%;
}

#TitreJeux{
    padding: 50px;
}

#Bienvenue{
    font-size: 40px;
    text-align: center;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    color: white;

}

#Presentation{
    font-size: 60px;
}


.Fille{
    margin: 0 auto;
    width: 80%;
    font-size: 150%;
}


@media screen and (max-width: 1500px){
    .PresJeux{
        display: block;
    }
    .Fille{
        width: 50%;
    }
}

@media screen and (max-width: 1150px){
    .Titre{
        padding: 50px;
    }

    .Item-Nav{
        font-size: 200%;
        padding-top: 30px;
        padding-bottom: 30px
    }
}
@media screen and (max-width: 1000px){

    .Item-Nav{
        font-size: 150%;
    }
}
@media screen and (max-width: 600px){
    .Titre{
        padding: 5px;
    }

    .Item-Nav{
        padding-top: 20px;
        font-size: 120%;
        padding-top: 20px;
        padding-bottom: 20px
    }
}



