
nav{
    height: 70px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
    background: none;
    
}
body{
    background-image: url("./Img/fond.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}
#Navbar{
    position:fixed;
    right: 0;
    left: 0;
    top: 0;
}

.navbar-nav{
    width: 100%;
    display: grid;
    grid-template-columns : 33% 33% 33%;
    margin: 0 auto;

}
.ResProject{
    text-align: center;
    margin : 0 auto;
    width: 80%;
    height: 700px;
    color: white;
    background-color: #001dd1;
    border-radius: 10px;
}

#IMGJeux{
    margin: 0 auto;
}


ul {
    list-style: none; /* enlever les puces */
    margin: 0; /* enlever les marges automatiques */
} 
ul li {
    padding-left: 20px;
    padding-right: 20px;
    display: table-cell; /* affichage en ligne */
}

i{
    color: white;
}
#Contact{
    padding: 10px;
}
.PresJeux{
    display: grid;
    grid-template-columns : 50% 50%;
}

#Projets{
    grid-template-columns : 25% 25% 25% 25%;
}

.nav-item{
    text-align: center;
    font-size: 200%;
    width: 100%;
    margin: 0 auto;
}
.nav-link{
    color: white;
}

.Titre{
    margin: 0 auto;
    width: 50%;
    margin-bottom: 150px;
}
#Bienvenue{
    font-size: 75px;
    text-align: center;
    width: 50%;
    height: 300px;
    margin: 0 auto;
    margin-top: 250px;
    margin-bottom: 400px;
    color: white;
}

#Presentation{
    width: 100%;
}

.btn-primary {
    background-color: #001dd1 ;
    font-size: 90%;
}

.Fille{
    margin: 0 auto;
    width: 80%;
}




@media screen and (max-width: 1600px){
    .navbar-nav{
        width: 95%;
    }
    .nav-item{
        font-size: 140%;
    }
}

@media screen and (max-width: 1450px){
    .navbar-nav{
        width: 80%;
    }
    .nav-item{
        font-size: 100%;
    }
    #Projets{
        width: 100%;
    }
    #Contact{
        padding: 0;
    }
    button{
        padding: 20px;
        margin-left: 40px;
        margin-right: 40px;
        width: 90%;
    }
}

@media screen and (max-width: 900px){
    #Projets{
        width: 120%;
        font-size: 80%;
    }
    #Bienvenue{
        margin-bottom: 500px;
    }
}

